<!DOCTYPE html>
<title>Upload File</title>
<h1>Photo Upload</h1>
<form method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.photo }}
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>

<div>
    <div style="width: 45%; float: left;">
        {% if file_url %}
        <img src="{{ file_url }}" style="display:block; position: relative; width: 100%;">
        {% endif %}
    </div>
    <div style="width: 45%; float: left;">
        {% if out_url %}
        <img src="{{ out_url }}" style="display:block; position: relative; width: 100%;">
        {% endif %}
    </div>
</div>